@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 255, 255, 255; /* light text */
    --background-start-rgb: 25, 25, 30; /* dark grey */
    --background-end-rgb: 50, 50, 55; /* slightly lighter dark grey */
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 10, 10, 15;
        --background-end-rgb: 25, 25, 30;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient( to bottom, rgb(var(--background-start-rgb)), rgb(var(--background-end-rgb)) );
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
